<div *ngIf="!producto">
    <button class="btn btn-lg btn-primary btn-block"  (click)="nuevoProducto()">Nuevo </button>
</div>
<div *ngIf="producto">
  <p>Alta de producto</p>
  
  <label for="id">Id</label>
  <input type="number" name='id' [ngModel]='producto.id'>
  <br>
  
  <label for="descripcion">Descripcion</label>
  <input type="text" [(ngModel)]="producto.descripcion" name='descripcion' >
  <br>
  
  <p>Tipo</p>
  <label for="tipo">Tipo de producto</label>
  <input type="radio" ([ngModel])="producto.tipo" name='id' >solido
  <input type="radio" ([ngModel])="producto.tipo" name='id' >liquido
  <br>
  
  <label for="fechaVencimiento">Fecha de vencimiento</label>
  <input type="date" ([ngModel])="producto.fechaVencimiento" name='fechaVencimiento' >
  <br>
  
  <label for="precio">Precio</label>
  <input type="number" ([ngModel])="producto.precio" type="number" name='precio' >
  <br>
  
  <label for="rutaDeFoto">Imagen</label>
  <input type="text" ([ngModel])="producto.rutaDeFoto" name='rutaDeFoto' >
  <br>
  
  <button tn-lg btn-info btn-block (click)='crearProducto()'>Alta</button>
</div>
